*lazy-lock*
.emacs.d/**
!.emacs.d/custom.el
!.emacs.d/config.org
!.emacs.d/early-init.el
.config/fish/conf.d/*
.config/fish/completions/*
.config/fish/functions/*
.config/fish/fish_variables
.config/stylerc
