*lazy-lock*
.emacs.d/**
!.emacs.d/custom.el
!.emacs.d/config.org
!.emacs.d/early-init.el
Configs/fish/.config/fish/conf.d/*
Configs/fish/.config/fish/completions/*
Configs/fish/.config/fish/functions/*
Configs/fish/.config/fish/fish_variables
Configs/.config/stylerc
Configs/ghostty/.config/ghostty/themes/current_theme.lua
