layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:/Users/tsac/.config/zellij/plugins/zjstatus.wasm" {

                format_left   "{tabs}"
                // format_left "#[bg=default, fg=colour249]#[bg=colour249, fg=colour237]#[bg=colour237, fg=colour249] #[bg=colour237, fg=colour249]#W #[fg=colour237, bg=default]"

                // format_center "{mode} #[fg=#89B4FA,bold]{session}"
                // format_right  "{command_git_branch} {datetime}"
                format_right "#[fg=colour14,bg=default]#[bg=colour14,fg=colour16]{session}#[fg=colour14,bg=default] {datetime}#[bg=default,fg=colour8]"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=blue] "
                mode_tmux    "#[bg=#ffc387] "

                tab_normal " #[bg=default,fg=colour249]#[bg=colour249,fg=colour237]{index}#[bg=colour237,fg=colour249]#[bg=colour237,fg=colour249] {name}#[fg=colour237,bg=default]"
                tab_active " #[fg=colour3,bg=default]#[bg=colour3,fg=colour232]{name} #[bg=colour3,fg=colour0]#[bg=colour0,fg=colour237]{index}#[bg=default,fg=colour0]"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                // datetime        "#[fg=#6C7086,bold] {format} "
                // datetime "#[fg=colour7,bg=colour0] {format} #[bg=colour0,fg=colour8]"
                datetime "#[fg=colour4,bg=default]#[fg=colour16,bg=colour4]{format} #[bg=colour0,fg=colour8]"
                datetime_format "%d %b %Y %H:%M"
                datetime_timezone "Europe/Berlin"

            }
        }
    }
}
